apiVersion: v1
kind: ConfigMap
metadata:
  name: namespace-node-affinity
  namespace: testing-ns
data:
  nodeSelectorTerms: |
    - matchExpressions:
      - key: the-testing-key
        operator: In
        values:
        - the-testing-val1
