name: CI/CD

on:
  push:
    branches:
      - 'main'
    tags:
      - 'v*.*.*'
  pull_request:
    branches:
      - 'main'

jobs:

  lint-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.16

      - name: Install dependencies
        run: go get -u golang.org/x/lint/golint

      - name: Lint
        run: golint -set_exit_status ./...

      - name: Check gofmt
        run: ./scripts/gofmt-check.sh

      - name: Vet
        run: go vet ./...

      - name: Test
        run: go test -v ./...

  build-and-push-docker-images:
    needs: lint-and-test
    if: ${{ github.event_name != 'pull_request' }}

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Docker meta
        id: meta
        uses: crazy-max/ghaction-docker-meta@v2
        with:
          images: |
            idgenchev/namespace-node-affinity
          flavor: |
            latest=true
          tags: |
            type=ref,event=branch
            type=semver,pattern={{version}}

      - name: Docker meta for the init container
        id: initmeta
        uses: crazy-max/ghaction-docker-meta@v2
        with:
          images: |
            idgenchev/namespace-node-affinity-init-container
          flavor: |
            latest=true
          tags: |
            type=ref,event=branch
            type=semver,pattern={{version}}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Webhook image
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./build/Dockerfile
          push: ${{ github.event_name != 'pull_request' }}
          platforms: linux/386,linux/amd64,linux/arm/v6,linux/arm/v7,linux/arm64
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

      - name: Build and push init container image
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./build/DockerfileInitContainer
          push: ${{ github.event_name != 'pull_request' }}
          platforms: linux/386,linux/amd64,linux/arm/v6,linux/arm/v7,linux/arm64
          tags: ${{ steps.initmeta.outputs.tags }}
          labels: ${{ steps.initmeta.outputs.labels }}
